.bg-sidebar {
  background: #020520;
}
.bg-reg {
  background: linear-gradient(to right, #023e2f 0%, #033458 100%);
}
.bg-gradient-accent {
  background: linear-gradient(to right, #031728 0%, #00dc8090 100%);
}

.bg-accent {
  background-color: #00dc82 !important;
  background: #00dc82 !important;
}
.color-accent {
  color: #00dc82 !important;
}

body {
  background: #031728;
  font-size: clamp(14px, 2vw, 18px);
  font-weight: 400;
  color: #ffffff;
}
button:hover {
  transition: all 0.3s ease;
  box-shadow: 0px 0px 20px #00dc82;
  backdrop-filter: blur(10px);
}
.sidebar {
  width: 100%;
  max-width: 300px;
  height: 100%;
}
.nj-card-shadow:hover {
  box-shadow: 0px 0px 20px #00dc82;
  backdrop-filter: blur(10px);
}

.nj-shadow-bg:hover {
  box-shadow: 0px 0px 20px #00dc82;
  backdrop-filter: blur(10px);
  scale: 1.1;
  transition: all 0.3s ease-in-out;
  background: transparent !important;
}
.nj-text-shadow:hover {
  text-shadow: 0px 0px 20px #00dc82;
  transition: all 0.3s ease-in-out;
}
//* card
.card-draggable {
  padding: 40px 20px 20px;
}
.card-status {
  position: absolute;
  top: 20px;
}
.card-title {
  padding: 10px 0 10px;
  font-size: 18px;
}
.card-description {
  font-size: 12px;
  padding-bottom: 10px;
}
.card-date {
  font-size: 10px;
}
